<div class="modal-header c-padding">
    <h4 class="mb-0 profile_heading">Images</h4>
    <button type="button" class="close" (click)="close()">
        <img src="assets/images/close.png" />
    </button>
</div>
<div class="heading-row">
    <mat-chip-list aria-label="Fish selection">
        <mat-chip (click)="selectImage('m')" [color]="selectedValue=='m'?'primary':''" [selected]="selectedValue=='m'">
            Merchandiser</mat-chip>
        <mat-chip (click)="selectImage('d')" [color]="selectedValue=='d'?'primary':''" [selected]="selectedValue=='d'">
            Delivery Driver</mat-chip>

    </mat-chip-list>
</div>
<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-md-3" *ngFor="let img of images;let i=index">
            <div class="tempholder selected" *ngIf="img.src">
                <div class="selectedholder">
                    <span style="display: flex;width: 112px;">
                        <a class="circleicon" (click)="downloadFile(img.src)">
                            <mat-icon>cloud_download</mat-icon>
                        </a>
                        <a class="circleicon">
                            <mat-icon style="margin-top: 1px;" (click)="openSelectedImage(i)">visibility</mat-icon>
                        </a>
                    </span>
                </div>
                <img [src]="img.src" style="width:100%" alt="Template">
            </div>
        </div>
    </div>
</div>