button:focus {
  outline: none;
}

button.mat-menu-item {
  height: 30px;
  line-height: normal;
}

button:active {
  outline: none;
}

.item-container {
  margin-top: 20px;
    /*padding: 0 20px 0;*/
    position: relative;
    width: 100%;
    overflow: auto;
  table {
    width: 99%;
    margin: auto;
    border: 1px solid #ced4da;
    border-collapse: separate;
    border-radius: 5px;
    border-spacing: 0;
  
    th,
    td {
      border-top: 1px solid #ced4da;
      border-left: 1px solid #ced4da;
  
      &:first-child {
        border-left: none;
      }
    }
  
    th {
      padding: 4px 10px;
      border-top: none;
      text-align: center;
      background-color: #000000;
      color: #e0e0e0;
    }
  
    td {
      padding: 0.5rem;
  
      .custom-select,
      .form-control {
        font-size: 12px;
      }
    }
  }
}

.item-row:nth-child(even) td {
  background-color: #e3e0e0 !important;
  color: #212529;
}

/* Zebra striping: odd rows */
.item-row:nth-child(odd) td {
  background-color: #ffffff !important;
  color: #212529;
}