.full-w {
  width: 100%;
}

.half-w {
  width: 50%;
}

section {
  align-content: center;
  align-items: center;
  height: 60px;
  padding: 5px;
}

button {
  margin-right: 10px;
}

.channel-container {
  position: absolute;
  top: 63%;
  right: 0;
  width: 300px; // adjust width as needed
  padding: 10px;
}

.full-w {
  width: 100%;
}

.half-w {
  width: 50%;
}

section {
  align-content: center;
  align-items: center;
  height: 60px;
  padding: 5px;
}

button {
  margin-right: 10px;
}
