.basis {
  flex: 1 1;
}

.box {
  border: 1px solid gainsboro;
  width: 30%;
  margin-bottom: 15px;
  // margin-right: 21px;
}

.box-chart {
  border: 1px solid gainsboro;
  width: 23%;
  margin-bottom: 15px;
  margin-right: 21px;
}

.tree-dropdown {
  height: 37px;
}

.header-bottom {
  margin-bottom: 3px;
}

.table-responsive {
  font-size: 10px !important;
}

.th-custom {
  font-size: 8px;
}

.tr-brown {
  background-color: beige;
}

.tr-green {
  background-color: #87e7ad;
}

.tr-blue {
  background-color: #e2e5f3;
}

.expanBtn {
  font-size: 21px;
  position: absolute;
  right: 2px;
  top: 2px;
  cursor: pointer;
}

.flex1 {
  flex: 1;
  cursor: pointer;
}

.flex12 {
  flex: 12;
}

.expandBox {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.shelf-title-border {
  border: 1px solid gainsboro;
  margin-right: 5px;
  margin-bottom: 15px;
  color: #fff;
  border-radius: 10px;
}
.data-chart {
  width: 100px;
  height: 70px;
  color: #fff;
}
.performer-box {
  border-top: 2px solid #fff;
  margin: 0 15px;
}
.bg-purple {
  background: #005689 !important; //purple;
}
.bg-orange {
  background: #6dd9fc !important; //#ffc107;
  color: #000 !important; //#ffc107;
  font-weight: 600;
}
.text-yellow {
  color: #fff !important; //#ffc107;
  font-weight: 500 !important;
}
